@tailwind base;
@tailwind components;
@tailwind utilities;

.material-icons {
    font-size: 20px;
}

.py-6 {
  padding-top: 23,5rem;
  padding-bottom: 1.5rem;
}
.sidebar-icon {
    @apply w-6 h-6;
}

.modal-overlay {
    @apply fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center;
}

.active-section {
    @apply bg-yellow-200 border-yellow-600 shadow-md;
}

.sidebar-btn.active-section i {
    @apply text-yellow-700;
}

.sidebar-btn:not(.active-section):hover {
    @apply bg-yellow-100 border-yellow-500 transform scale-105;
}
